[submodule "dot/vim/bundle/nerdtree"]
	path = dot/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "dot/vim/bundle/vim-surround"]
	path = dot/vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "dot/vim/bundle/vim-fugitive"]
	path = dot/vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "dot/vim/bundle/vim-scala"]
	path = dot/vim/bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "dot/vim/bundle/kotlin-vim"]
	path = dot/vim/bundle/kotlin-vim
	url = https://github.com/udalov/kotlin-vim.git
[submodule "dot/vim/bundle/syntastic"]
	path = dot/vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "dot/vim/bundle/ctrlp"]
	path = dot/vim/bundle/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
